.ui.lists.originals .ui.card {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.title-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title-header .title {
  flex: 1;
}

.title-header .more,
.title-header a {
  color: #adadad;
  font-size: 14px;
  display: inline-block !important;
}

@media only screen and (max-width: 767px) {
  .originals .ui.grid > [class*="four column"].doubling:not(.stackable).row.row > .column {
    width: 100% !important;
  }
}
